venv/
__pycache__/
*.pyc
.env
*.log
.DS_Store

# Ignore all files in the data directories
data/raw/*
data/clean/**


# Except the .gitkeep files that preserve the folder structure
!data/raw/.gitkeep
!data/clean/.gitkeep

# Ignore local Airflow runtime files, but allow reading inside the dags folder
airflow/*
!airflow/dags/
!airflow/dags/*.py